body {
  margin: 0px;
  padding: 0px;
  background-color: #FFFDF7;
}
/* colors */

.darkGreen {
  background-color: #32523A;
}

.lightGreen {
  background-color: #C1FF72;
}

.almostBlack {
  background-color: #1E1E1E;
}

.offWhite {
  background-color: #FFFDF7;
}

.noBackground {
  background: transparent;
}

/* font */
.header {
  font-family: "Stick No Bills", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}

.darkGreenFont {
  color: #32523A;
}

.lightGreenFont {
  color: #C1FF72;
}

.almostBlackFont {
  color: #1E1E1E;
}

.offWhiteFont {
  color: #FFFDF7;
}

/* font sizes */
.xx-largeFont {
  font-size: xx-large;
}

.x-largeFont {
  font-size: x-large;
}

.largeFont {
  font-size: large;
}

.mediumFont {
  font-size: medium;
}

.smallFont {
  font-size: small;
}

.x-smallFont {
  font-size: x-small;
}

.xx-smallFont {
  font-size: xx-small;
}

/* margins and paddings */
.noMargin {
  margin: 0px;
}

.littleMargin {
  margin: 5px;
}

.littleMoreMargin {
  margin: 10px;
}

.margin {
  margin: 15px;
}

.littleTopMargin {
  margin-top: 5px;
}

.leftPageBorder {
  margin-left: 50px;
}

.littleLeftMargin {
  margin-left: 5px;
}

.littleMoreLeftMargin {
  margin-left: 10px;
}

.rightPageBorder {
  margin-right: 50px;
}

.littleRightMargin {
  margin-right: 5px;
}

.noPadding {
  padding: 0px;
}

.littlePadding {
  padding: 5px;
}

.littleTopPadding {
  padding-top: 5px;
}

.littleMoreTopPadding {
  padding-top: 10px;
}

.topPadding {
  padding-top: 15px;
}

.moreTopPadding {
  padding-top: 20px;
}

.littleBottomPadding {
  padding-bottom: 5px;
}

.littleMoreBottomPadding {
  padding-bottom: 10px;
}

.rightPadding {
  padding-right: 20px;
}

.leftPadding {
  padding-left: 20px;
}

/* general sizing */
.fullWidth {
  width: 100%;
}

.logInInputSize {
  width: 300px;
  height: 25px;
}

/* misc items */
.testBorder {
  border: 1px solid red;
}

.dropShadow {
  box-shadow: 2px 2px 10px #5b5b5b;
}

.noBorder {
  border: none;
}

.logo {
  height: 100px;
}

.smallLogo {
  height: 75px;
}

.removeDecorations {
  list-style-type: none;
}

.displayFlex {
  display: flex;
}

.flexColumn {
  flex-direction: column;
}

.flexWrap {
  flex-wrap: wrap;
}

.spaceBetween {
  justify-content: space-between;
}

.spaceAround {
  justify-content: space-around;
}

.spaceEvenly {
  justify-content: space-evenly;
}

.alignCenter {
  align-items: center;
}

.textCenter {
  text-align: center;
}

.justifyCenter {
  justify-items: center;
}

.justifyRight {
  justify-items: right;
}

.alignBottom {
  align-items: flex-end;
}

.alignTop {
  align-items: flex-start;
}

.noDecoration {
  text-decoration: none;
}

.navLink {
  text-decoration: none;
  border: none;
  font-size: normal;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 1;
}

.navBar {
  height: 100px;
}

.frontPageCards {
  width: 250px;
  height: 350px;
  padding: 10px;
  transition: top ease 300ms;
}

.frontPageCards:hover {
  transform: translate(0, -10px);
}

.imageShape {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

button {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
  color: #FFFDF7;
  background-color: #32523A;
  padding: 10px 15px;
  margin: 2px 0px;
  border: none;
  width: 100px;
  border-radius: 5px;
}

button:hover {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
  color: #32523A;
  background-color: #C1FF72;
  padding: 10px 15px;
  margin: 2px 0px;
  border: none;
  width: 100px;
  border-radius: 5px;
}

.alternateButton:hover {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
  color: #FFFDF7;
  background-color: #32523A;
  padding: 10px 15px;
  margin: 5px 0px;
  border: none;
  width: 150px;
  border-radius: 5px;
}

.alternateButton {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
  color: #32523A;
  background-color: #C1FF72;
  padding: 10px 15px;
  margin: 5px 0px;
  border: none;
  width: 150px;
  border-radius: 5px;
}

.subtleButton {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-size: medium;
  font-style: normal;
  color: #32523A;
  background-color: #FFFDF7;
  text-decoration: underline;
  width: 100%;
}

.subtleButton:hover {
  font-family: "Rancho", cursive;
  font-weight: bold;
  font-size: medium;
  font-style: normal;
  color: #32523A;
  background-color: #FFFDF7;
  text-decoration: underline;
  width: 100%;
}

.visibilityHidden {
  visibility: hidden;
}