#calendar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

#calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

#calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: #333;
}

#calendar-body div {
  background-color: #fff;
  padding: 10px;
  text-align: center;
}

.changeMonth {
  cursor: pointer;
}

#calendar-body div.today {
  background-color: #32523A;
  color: #fff;
}

